@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  --grey-900: hsl(217, 19%, 35%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-200: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);

  --ff-body: "Manrope", sans-serif;

  // --fz-head: calc(20 / 16 * 1rem);
  --fz-body: calc(13 / 16 * 1rem);
  // --fz-sub: calc(11 / 16 * 1rem);

  --fw-medium: 500;
  --fw-bold: 700;

  --s-2000: calc(160 / 16 * 1rem);
  --s-1950: calc(156 / 16 * 1rem);
  --s-1900: calc(152 / 16 * 1rem);
  --s-1850: calc(148 / 16 * 1rem);
  --s-1800: calc(144 / 16 * 1rem);
  --s-1750: calc(140 / 16 * 1rem);
  --s-1700: calc(136 / 16 * 1rem);
  --s-1650: calc(132 / 16 * 1rem);
  --s-1600: calc(128 / 16 * 1rem);
  --s-1550: calc(124 / 16 * 1rem);
  --s-1500: calc(120 / 16 * 1rem);
  --s-1450: calc(116 / 16 * 1rem);
  --s-1400: calc(112 / 16 * 1rem);
  --s-1350: calc(108 / 16 * 1rem);
  --s-1300: calc(104 / 16 * 1rem);
  --s-1250: calc(100 / 16 * 1rem);
  --s-1200: calc(96 / 16 * 1rem);
  --s-1150: calc(92 / 16 * 1rem);
  --s-1100: calc(88 / 16 * 1rem);
  --s-1050: calc(84 / 16 * 1rem);
  --s-1000: calc(80 / 16 * 1rem);
  --s-950: calc(76 / 16 * 1rem);
  --s-900: calc(72 / 16 * 1rem);
  --s-850: calc(68 / 16 * 1rem);
  --s-800: calc(64 / 16 * 1rem);
  --s-750: calc(60 / 16 * 1rem);
  --s-700: calc(56 / 16 * 1rem);
  --s-650: calc(52 / 16 * 1rem);
  --s-600: calc(48 / 16 * 1rem);
  --s-550: calc(44 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-450: calc(36 / 16 * 1rem);
  --s-400: calc(32 / 16 * 1rem);
  --s-350: calc(28 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-250: calc(20 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  font-size: var(--fz-body);
  background-color: var(--light-grayish-blue);
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.attribution {
  position: static;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: rem(11px);
  text-align: center;
  color: var(--very-dark-grayish-blue);
}

.attribution a {
  transition: .4s;
  color: var(--very-dark-blackish-blue);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--moderate-violet);
  text-decoration: none;
}
/* #endregion Defaults */

/* #region Reusable CSS */
.grid {
  display: grid;
}

.bg-grey-900 {background-color: var(--grey-900);}
.bg-grey-500 {background-color: var(--grey-500);}
.bg-grey-400 {background-color: var(--grey-400);}
.bg-grey-200 {background-color: var(--grey-200);}
.bg-white {background-color: var(--white);}

.text-grey-900 {color: var(--grey-900);}
.text-grey-500 {color: var(--grey-500);}
.text-grey-400 {color: var(--grey-400);}
.text-grey-200 {color: var(--grey-200);}
.text-white {color: var(--white);}

.text-preset-1-bold {
  font-weight: var(--fw-bold);
  font-size: rem(20px);
  line-height: 1.3em;
  letter-spacing: rem(0.25px);
}

.text-preset-2-bold {
  font-weight: var(--fw-bold);
  font-size: rem(13px);
  line-height: 1.4em;
  letter-spacing: 0.0012em;
}

.text-preset-2-medium {
  font-weight: var(--fw-medium);
  font-size: rem(13px);
  line-height: 1.4em;
  letter-spacing: 0.0012em;
}

.text-preset-3 {
  font-weight: var(--fw-medium);
  font-size: rem(13px);
  line-height: 1.4em;
  letter-spacing: 0.25em;
}

.share-toast-mobile {}
.share-toast-desktop {}
.profile-and-date {}
.share-button {}
.share-button:hover {}
/* #endregion Reusable CSS */

/* #region Mobile 375px */
main {
  width: inherit;
  height: auto;
  display: grid;
  place-content: center;
}

.container {
  padding-block: rem(71px);
  padding-inline: var(--s-300);
  row-gap: var(--s-300);
}

.card {
  width: rem(327px);
  border-radius: var(--s-100);
  padding: rem(26px) rem(32px) rem(32px) rem(32px);
}

.card__profile {
  display: flex;
  align-items: center;
  column-gap: rem(17px);
  margin-block-end: rem(18px);
}

.profile__img {
  box-sizing: content-box;
  width: rem(28px);
  height: rem(28px);
  border: 2px solid transparent;
  border-radius: 100vmax;
}

.profile__text {
  display: grid;
  row-gap: rem(4px);
}

.profile__title {
  font-size: var(--fz-body);
  font-weight: var(--fw-medium);
  line-height: 1em;
}

.profile__description {
  font-size: var(--fz-sub);
  font-weight: var(--fw-medium);
  line-height: 1em;
  opacity: 50%;
}

.card__blockquote {
  margin-block-end: rem(16px);
  font-size: var(--fz-head);
  font-weight: var(--fw-semi-bold);
  line-height: auto;
}

.card__quote {
  font-weight: var(--fw-medium);
  line-height: em(18px, 13px);
  opacity: 70%;
}

.card__1 {
  background-color: var(--moderate-violet);
  color: var(--white);
  position: relative;

  > svg {
    position: absolute;
    right: rem(24px);
  }

  .card__blockquote {
    margin-block-end: rem(40px);
    z-index: 1;
  }

  .card__quote {
    color: #cfcfcf;
  }

  .profile__img {
    border-color: hsl(264, 82%, 70%);
  }
}

.card__2 {
  background-color: var(--very-dark-grayish-blue);
  color: var(--white);
}

.card__3,
.card__5 {
  background-color: var(--white);
  color: var(--very-dark-grayish-blue);
}

.card__4 {
  background-color: var(--very-dark-blackish-blue);
  color: var(--white);

  .profile__img {
    border-color: hsl(263, 55%, 52%);
  }
}

/* #endregion Mobile 375px */

/* #region Extra Small 320px */
@include desktop-media-query(374px) {

}
/* #endregion Extra Small 320px */

/* #region Desktop 768px */
@include mobile-media-query(768px) {
  .attribution {
    position: fixed;
  }
}

/* Desktop Active */

/* #endregion Desktop 768px */