@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  --grey-900: hsl(217, 19%, 35%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-200: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);

  --ff-body: "Manrope", sans-serif;

  --fz-body: calc(13 / 16 * 1rem);

  --fw-medium: 500;
  --fw-bold: 700;

  --s-2000: calc(160 / 16 * 1rem);
  --s-1950: calc(156 / 16 * 1rem);
  --s-1900: calc(152 / 16 * 1rem);
  --s-1850: calc(148 / 16 * 1rem);
  --s-1800: calc(144 / 16 * 1rem);
  --s-1750: calc(140 / 16 * 1rem);
  --s-1700: calc(136 / 16 * 1rem);
  --s-1650: calc(132 / 16 * 1rem);
  --s-1600: calc(128 / 16 * 1rem);
  --s-1550: calc(124 / 16 * 1rem);
  --s-1500: calc(120 / 16 * 1rem);
  --s-1450: calc(116 / 16 * 1rem);
  --s-1400: calc(112 / 16 * 1rem);
  --s-1350: calc(108 / 16 * 1rem);
  --s-1300: calc(104 / 16 * 1rem);
  --s-1250: calc(100 / 16 * 1rem);
  --s-1200: calc(96 / 16 * 1rem);
  --s-1150: calc(92 / 16 * 1rem);
  --s-1100: calc(88 / 16 * 1rem);
  --s-1050: calc(84 / 16 * 1rem);
  --s-1000: calc(80 / 16 * 1rem);
  --s-950: calc(76 / 16 * 1rem);
  --s-900: calc(72 / 16 * 1rem);
  --s-850: calc(68 / 16 * 1rem);
  --s-800: calc(64 / 16 * 1rem);
  --s-750: calc(60 / 16 * 1rem);
  --s-700: calc(56 / 16 * 1rem);
  --s-650: calc(52 / 16 * 1rem);
  --s-600: calc(48 / 16 * 1rem);
  --s-550: calc(44 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-450: calc(36 / 16 * 1rem);
  --s-400: calc(32 / 16 * 1rem);
  --s-350: calc(28 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-250: calc(20 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  font-size: var(--fz-body);
  background-color: var(--grey-200);
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.attribution {
  position: static;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: rem(11px);
  text-align: center;
  color: var(--very-dark-grayish-blue);
}

.attribution a {
  transition: .4s;
  color: var(--very-dark-blackish-blue);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--moderate-violet);
  text-decoration: none;
}
/* #endregion Defaults */

/* #region Reusable CSS */
.grid {
  display: grid;
}

.bg-grey-900 {background-color: var(--grey-900);}
.bg-grey-500 {background-color: var(--grey-500);}
.bg-grey-400 {background-color: var(--grey-400);}
.bg-grey-200 {background-color: var(--grey-200);}
.bg-white {background-color: var(--white);}

.text-grey-900 {color: var(--grey-900);}
.text-grey-500 {color: var(--grey-500);}
.text-grey-400 {color: var(--grey-400);}
.text-grey-200 {color: var(--grey-200);}
.text-white {color: var(--white);}

.text-preset-1-bold {
  font-weight: var(--fw-bold);
  font-size: rem(20px);
  line-height: 1.3em;
  letter-spacing: rem(0.25px);
}

.text-preset-2-bold {
  font-weight: var(--fw-bold);
  font-size: rem(13px);
  line-height: 1.4em;
  letter-spacing: 0.0012em;
}

.text-preset-2-medium {
  font-weight: var(--fw-medium);
  font-size: rem(13px);
  line-height: 1.4em;
  letter-spacing: 0.0012em;
}

.text-preset-3-medium {
  font-weight: var(--fw-medium);
  font-size: rem(13px);
  line-height: 1.4em;
  letter-spacing: 0.25em;
}
/* #endregion Reusable CSS */

/* #region Mobile 375px */
main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  column-gap: 2rem;
}

.article__container {
  width: rem(327px);
  height: rem(538px);
  background-color: var(--white);
  border-radius: rem(10px);
  grid-template-rows: auto 1fr;
  overflow: hidden;
  position: relative;
}

.article__image {
  width: 100%;
  height: rem(200px);
  object-fit: cover;
  overflow: hidden;
}

.article__img {
  width: inherit;
  height: inherit;
}

.article__content {
  padding: rem(32px) rem(30px) rem(18px);
}

.content__meta {
  grid-auto-flow: column;
  justify-content: space-between;
  align-self: end;
}

.meta__profile {
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.profile__image {
  width: rem(40px);
  height: rem(40px);
  border-radius: 100vmax;
  object-fit: cover;
  overflow: hidden;
}

.profile__img {
  width: 100%;
  height: 100%;
}

.meta__share-button {
  width: rem(32px);
  height: rem(32px);
  border-radius: 100vmax;
  background-color: var(--grey-200);
  align-self: center;
  display: grid;
  place-content: center;
  z-index: 1;
}

  /* #region Mobile Active */
.meta__share-button,
.meta__share-button path {
  transition: 350ms;
}

.meta__share-button:hover,
.meta__share-button[aria-expanded=true] {
  background-color: var(--grey-500);
}

.meta__share-button:hover path,
.meta__share-button[aria-expanded=true] path {
  fill: var(--white);
}

.meta__share-toast {
  position: absolute;
  inset: auto 0 0 0;
  height: rem(76px);
  display: grid;
  grid: ". ." / auto 1fr;
  align-items: center;
  justify-items: start;
  column-gap: rem(24px);
  padding-inline: rem(30px);
  padding-block: rem(22px);
  display: none;
}

.share-toast__social {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  column-gap: rem(16px);
  
  a {
    display: grid;
    place-items: center;
  }
}

.meta__share-toast-active {
  display: grid;
}
  /* #endregion Mobile Active */

/* #endregion Mobile 375px */

/* #region Extra Small 320px */
@include desktop-media-query(374px) {

}
/* #endregion Extra Small 320px */

/* #region Tablet 768px */
@include mobile-media-query(768px) {
  .article__container {
    width: clamp(38rem, 29.2857rem + 18.1548vw, 45.625rem);
    height: rem(346px);
    grid-template-rows: auto;
    grid-template-columns: rem(229px) 1fr;
    overflow: visible;
  }

  .article__image {
    height: 100%;
  }
  
  .article__content {
    padding: rem(41px) rem(36px) rem(41px) rem(32px);
    row-gap: rem(24px);
  }

  .content__meta {
    position: relative;
  }

  .meta__profile {
    // position: absolute;
    // inset: auto auto auto auto;
  }

  .meta__share-button {
    // position: absolute;
    // inset: 0 0 0 auto;
    // position: relative;
  }

  .attribution {
    position: fixed;
  }

  /* #region Desktop Active */
  .meta__share-toast {
    // position: relative;
    // inset: auto auto 100% 55%;
    // inset: auto auto 100% 166px;
    inset: auto -35% 200% auto;
    width: rem(248px);
    height: rem(55px);
    padding-block: rem(18px);
    padding-inline: rem(38px);
    border-radius: rem(10px);
    // display: grid;
    // grid: ". ." / auto 1fr;
    // align-items: center;
    // justify-items: start;
    // column-gap: rem(24px);
    z-index: 1;
  }

  .meta__share-toast::after {
    content: "";
    display: block;
    position: absolute;
    inset: 100% auto auto 112px;
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: rem(12px) solid transparent;
    border-right: rem(12px) solid transparent;
    border-top: rem(12px) solid var(--grey-900);
  }
  /* #endregion Desktop Active */
}
/* #endregion Tablet 768px */

/* #region Desktop 1440px */
@include mobile-media-query(1440px) {
  .article__container {
    height: rem(280px);
    grid-template-columns: rem(285px) 1fr;
  }
  
  .article__content {
    padding: rem(30px) rem(40px);
  }
}
/* #region Desktop 1440px */

// .card__1 {
//   background-color: var(--moderate-violet);
//   color: var(--white);
//   position: relative;

//   > svg {
//     position: absolute;
//     right: rem(24px);
//   }

//   .card__blockquote {
//     margin-block-end: rem(40px);
//     z-index: 1;
//   }
// }
